<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <title>{{mode}}</title>
</head>
<body>

    <div class="main">

        <h1>Dashboard</h1>

        <div class="card">
            <h3>Welcome, USERNAME</h3>
            <p>Email: user@example.com</p>
        </div>

        <div class="card">
            <h3>File Viewer</h3>

            <form method="POST" action="/dashboard">
                <input type="text" name="file" class="input-box">
                <br><br>
                <button class="btn">Submit</button>
            </form>

            <h4>Status:</h4>
            <div id="comment">
                {% if success %}
                <p>{{ success }}</p>
                {% endif %}
            </div>
        </div>
 
    </div>


</body>
</html>