<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta charset="UTF-8">
    <title>Vulnerable WebApp</title>
</head>
<body>

<div class="container">
    <h1>Vulnerable WebApp</h1>
    <p>Choose a mode to explore the application.</p>

   <div class="mode-btn-container">
        <button class="card unsecure" value="unsecure" onclick="sendChoosenMode(this)">UNSECURE</button>
        <button class="card secure" value="secure" onclick="sendChoosenMode(this)">SECURE</button>
    </div>

    <p class="description">A deliberately vulnerable web application built with Flask, MySQL, and Docker.
This project is designed for learning, practicing, and demonstrating common web security vulnerabilities and their mitigations in a realistic environment.</p>
</div>


<script>
    function sendChoosenMode(button) {
        let mode = button.value
        window.location.href = "/?mode=" + mode;
    }
</script>


</body>
</html>