<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename=mode + '.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mode}}</title>
</head>
<body>
    <h1 class="login-header">EverLens</h1>
    <div class="login-container">
        <div class="login">
            <h2 class="login-title">Login</h2>
            <p style="text-align: center;">Enter your Credentials to access your account</p>
            <div class="form-container">
                <div class="form">
                    <form action="/login" method="post">
                    <label for="username" class="login-label">Username:</label>
                    <br></br>
                    <input type="text" name="username" class="login-input" required>
                    <br></br>
                    <label for="password" class="login-label">Password:</label>
                    <br></br>
                    <input type="password" name="password" class="login-input" required>
                    <br></br>
                    {% if success %}
                        <p class="status-text">{{ success }}</p>
                    {% endif %}

                    <input class="login-submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>

       {% if mode == "secure" %}
            <div class="info-container">
                <a href="/explanations/login">
                    <i class="fa-solid fa-circle-info"></i> 
                </a>
            </div>
        {% endif %}
    </div>
    
</body>
</html>