<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/staff.css') }}">
    <title>{{mode}}</title>
</head>

<body>
    <h1>Staff Portal</h1>

    <h3>Messages:</h3>

    {% for msg in messages %}

    <div class="container">
        <div class="name">
            <p>
                {% if mode == "unsecure" %}
                    {{ msg.name | safe }}
                {% else %}
                    {{ msg.name }}
                {% endif %}
            </p>
        </div>

        <div class="email">
            <p>
                {% if mode == "unsecure" %}
                    {{ msg.email | safe }}
                {% else %}
                    {{ msg.email }}
                {% endif %}
            </p>
        </div>

        <div class="message">
            <p>
                {% if mode == "unsecure" %}
                    {{ msg.message | safe }}
                {% else %}
                    {{ msg.message }}
                {% endif %}
            </p>
        </div>
    </div>

{% endfor %}

</body>
</html>